.bg {
  font-family: tahoma;
  background-color:#f2f2f2;
  background-repeat:no-repeat;
  background-size:100vw 100%;
}
.logo{
  text-align:center;
}
.logo-img{
  height:30vh;
}
#navbar {
  overflow: hidden;
  background-color: #47b560;
  float:none;
}


#navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#dropdown {
  float: left;
  overflow: hidden;
}

#navbar .icon {
  display: none;
}

#dropdown #dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align:center;
}

#navbar a:hover, #dropdown:hover #dropbtn {
  background-color: #498757;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#dropdown-content a:hover {
  background-color: #ddd;
}

#dropdown:hover #dropdown-content {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media screen and (max-width: 600px) {
  #navbar a, #dropdown #dropbtn {
    display: none;
  }
  #navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .mediaQuery{
    font-size:15px;
  }
  .logo{
    text-align:center;
  }
  #navbar.responsive {position: relative;}
  #navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  #navbar.responsive #dropdown {float: none;}
  #navbar.responsive #dropdown-content {position: relative;}
  #navbar.responsive #dropdown #dropbtn {
    display: block;
    width: 100%;
    text-align: center;
  }
  #navbar a{
    font-size:14px;
  }
  #dropdown #dropbtn{
    font-size:14px;
  }
  .icon-bar{
    left:85vw;
    top:90vh;
  }
}
.contact{
  color:#1c4d15;
  text-align:center;
}
.alineat{
  color:#1eff00;
  margin:5px;
}
.iframe{
  width: 100%;
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  #navbar a:not(:first-child), #dropdown #dropbtn {
    display: none;
  }
  .logo{
    text-align:center;
  }
  #navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  #navbar.responsive {position: relative;}
  #navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar.responsive #dropdown {float: none;}
  #navbar.responsive #dropdown-content {position: relative;}
  #navbar.responsive #dropdown #dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  #navbar a {
    font-size:16px;
  }
  #dropdown #dropbtn{
    font-size:16px;
  }
  .icon-bar{
    left:90vw;
    top:90vh;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.flex-container > div {
  background-color: green;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.formularContact{
  background-color:green;
  font-family:verdana;
  font-size:14;
  margin:5px;
  width:50vw;
}

.white{
  color:white;
}

#ageInput{
  width:100%;
}
#butonSubmit{
  margin:auto;
  display:block;
}